body{
}
.icon{
    width: 4.5%;
    height: 4.5%;
    margin-right: 5%;
    margin-left: 1.5%;
}

.navbar{
    background-color: rgb(231, 206, 175);
}

.heading{
    margin-top: 5%;
    text-align: center;
}

.searching{
    margin-top: 5%;
    text-align: center;
}

.btn-primary{
    margin-top: -5px;
    padding: 3px 6px 3px 6px;
}

.footer{
    background-color: rgb(106, 172, 192);
    padding-top: 5px;
    padding-bottom: 5px;
    position:fixed;
    width: 100%;
    bottom:0;
}